.grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid aliceblue;
}
.grid div {
    width: 176px;
    height: 175px;
    margin: 5px;
    cursor: pointer;
}

.image-container {
    margin-top: -10px;
    margin-right: 32rem;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    transition: cubic-bezier(.07, 1.41, .85, 1.41) 10s;
}
.image-container img {
    height: 7rem;
}

.empty-square {
    background-color: brown;
}

.client-square {
    background-color: rgb(255, 115, 0);
}

.machine-square {
    background-color: rgb(37, 37, 37);
}

.icon {
    cursor:pointer;
}

@media screen and (max-width: 541px) {
    .grid {
        width: 400px;
        height: 400px;
        padding-left: 3px;
    }

    .grid div {
        width: 122px;
        height: 122px;
    }

    .image-container {
        margin-top: 1px;
        margin-right: 25rem;
    }
}

@media screen and (max-width: 320px) {
    .grid {
        width: 250px;
        height: 250px;
    }

    .grid div {
        width: 73px;
        height: 73px;
    }

    .image-container {
        margin-top: 18.5rem;
        margin-right: 10rem;
        position:absolute ;
    }

    .title {
        width: 220px;
        height: 50px;

    }
    .title svg {
        margin: 0px;
    }
}